@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,500;1,900&family=Peralta&family=Poppins:ital,wght@1,500&display=swap');

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	height: 80px;
	width: 100%;
	background:rgb(60, 59, 108);
	border-bottom: 1px black;
}

nav .logo {
	font-size: 30px;
	margin-left: 10px;
	line-height: 80px;
	font-weight: bold;
	font-family: 'Alegreya SC';
	color: skyblue;
	padding: 0 50px;
	text-transform: uppercase;
}

nav ul {
	float: right;
	margin-right: 5px;
	margin-top: 0px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	font-size: 17px;
	font-family: 'Alegreya SC';
	text-transform: uppercase;
	color: skyblue;
	padding: 10px 17px;
	border-radius: 3px;
	
}

h4{
justify-content:center;
}

a.active, a:hover {
	background: rgb(112, 128, 145);
	transition: 0.5s;
}

.btn{
	float: right;
	font-size: 30px;
	color: white;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 952px){
	nav.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px){
	.btn {
		display: block;

	}
	ul {
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 80px;
		left: -100%;
		text-align: center;
		background: rgba(0, 0, 0, 0.2);
		transition: all .5s;
	}

	#check:checked ~ ul {
		left: 0;
	}

	nav ul li{
		margin: 50px 0;
		line-height: 30px;
		display: block;
	}

	nav ul li a{
		font-size: 20px;
	}

	a.active, a:hover {
		color: white;
		background: rgba(112, 128, 145);
	}
}

.banner{
	background-image: url(./n.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-width: 100vw;
	min-height: 87.7vh;
}